<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--
        'Layouts' with Cosmos CMS are used to set visual and functional
        consistency across all web pages on your website.

        What goes in a layout are those things that *all* web pages in your
        website will need.

        For example links to CSS files, JavaScript, Google Analytics code, meta tags.

        Please note:
            * The "Title" tag within the <head></head> tags is injected by Cosmos CMS. 
              Therefore do not add it.
            * Make sure the layout only contains the resources you want to appear on
              every page.
            * Page specific code is injected by Cosmos CMS automatically below.
    -->
    
    <!-- Required for content edited with the Live editor to display correctly -->
    <link rel="stylesheet" href="/css/ckeditor-content.css">
    <!-- ADD LAYOUT HEAD CONTENT HERE -->

    
    <!-- PAGE-SPECIFIC HEAD CONTENT WILL BE INJECTED BY COSMOS HERE -->
</head>

<body>
    <!-- 
        The <cosmos-layout-header></cosmos-layout-header> is important.  It defines
        the code that should appear at the very top of each page.

        Please note:
            * Only put within these tags the code that should appear at the
              head of every page on your website.
            * If you are using Cosmos CMS' built-in dynamic navigation tool, which 
              depends on bootstrap, add the following code within the nav bar:
              
              <div class="collapse navbar-collapse" id="navbarExample01" crx="true">
                 <!-- {COSMOS-UL-NAV} ->
              </div>

            * Use of the navigation tools is optional! If you don't use bootstrap,
              then don't use this option.
    -->
    <cosmos-layout-header>
        <!-- Put your layout header code here -->
    </cosmos-layout-header>

    <!--

         This is where your page specific content will get injected by Cosmos CMS.

         It is a good idea to provide example content here so when people preview
         your template, they can visualize what it will look like.

         TIP! Put compelling example content here to show people how great your layout is!

    -->

    <!--

        The <cosmos-layout-footer></cosmos-layout-footer> tags are important.  All code
        inbetween these tags will appear at the bottom of every page in your website.

        Notes:

            * Put HTML footer blocks that will appear on every page.
            * If you have a framework that requires JavaScript libraries injected at the end
              of each page (bootstrap for example), put those script links here as well.

    -->
    <cosmos-layout-footer>
       <!--
            Put your layout end-of-page code here
        -->
    </cosmos-layout-footer>
    <!--

        Page-specific end of page content is injected here by Cosmos CMS.
        Note, this is always after the the layout code.

    -->
</body>

</html>