    <div id="page-container" class="page-container-ds m-b-0">
        <div class="main-content-ds single-column landing" id="main-content">
            <div class="ds-content-layout">
                <main class="main-primary" id="body-content">

                    <div
                        class="wp-block-ca-design-system-hero cagov-with-sidebar cagov-with-sidebar-left cagov-featured-section cagov-bkgrd-gry cagov-block wp-block-cagov-hero">
                        <div>
                            <div class="cagov-stack cagov-p-2 cagov-featured-sidebar">
                                <h1 class="h2">Meet the California Design System</h1>
                                <div class="cagov-hero-body-content p-y-4">
                                    <p class="m-b-3">
                                        The Design System makes it easy for state digital teams to build accessible,
                                        consistent, and performant services and products to meet Californians' needs.
                                    </p>

                                    <a class="btn-primary-outline"
                                        href="https://designsystem.webstandards.ca.gov/get-started/">Learn more</a>

                                </div>
                            </div>
                            <div class="p-y-4">
                                <img loading="lazy" class="cagov-featured-image"
                                    src="https://california.azureedge.net/cdt/CAWeb/combined-css/2.0.0/img/hero-bear-nature.svg"
                                    alt="California  Design System displaying golden bear" width="1024" height="683" />
                            </div>
                        </div>
                    </div>

                    <h2>Get started</h2>

                    <div class="card-grid-3">
                        <a href="https://designsystem.webstandards.ca.gov/get-started/" class="no-deco cagov-card">
                            <span class="card-text">Get started</span>
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                height="24px" viewBox="0 0 24 24" width="24px">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                </g>
                                <g>
                                    <polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12" />
                                </g>
                            </svg>
                        </a>
                        <a href="https://designsystem.webstandards.ca.gov/principles/" class="no-deco cagov-card">
                            <span class="card-text">Principles</span>
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                height="24px" viewBox="0 0 24 24" width="24px">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                </g>
                                <g>
                                    <polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12" />
                                </g>
                            </svg>
                        </a>
                        <a href="https://designsystem.webstandards.ca.gov/style/content/" class="no-deco cagov-card">
                            <span class="card-text">Content style guide</span>
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                height="24px" viewBox="0 0 24 24" width="24px">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                </g>
                                <g>
                                    <polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12" />
                                </g>
                            </svg>
                        </a>
                        <a href="https://designsystem.webstandards.ca.gov/style/design/" class="no-deco cagov-card">
                            <span class="card-text">Design style guide</span>
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                height="24px" viewBox="0 0 24 24" width="24px">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                </g>
                                <g>
                                    <polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12" />
                                </g>
                            </svg>
                        </a>
                        <a href="https://designsystem.webstandards.ca.gov/components/" class="no-deco cagov-card">
                            <span class="card-text">Components</span>
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                height="24px" viewBox="0 0 24 24" width="24px">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                </g>
                                <g>
                                    <polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12" />
                                </g>
                            </svg>
                        </a>
                        <a href="https://designsystem.webstandards.ca.gov/about/" class="no-deco cagov-card">
                            <span class="card-text">About</span>
                            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                height="24px" viewBox="0 0 24 24" width="24px">
                                <g>
                                    <path d="M0,0h24v24H0V0z" fill="none" />
                                </g>
                                <g>
                                    <polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12" />
                                </g>
                            </svg>
                        </a>
                    </div>

                    <!--highlight section -->
                    <cagov-highlight-section>
                        <article role="article" class="full-bleed p-b-2 m-t-5"
                            style="background-image:url(https://california.azureedge.net/cdt/CAWeb/combined-css/2.0.0/img/bg-poly.png); background-size: cover; background-repeat:no-repeat">
                            <div class="container">
                                <header class="highlight-header">
                                    <h2>Principles for people-centered digital services</h2>
                                </header>
                                <section class="highlight-body">
                                    <div class="highlight-image bg-primary-lightest"><img
                                            src="https://california.azureedge.net/cdt/CAWeb/combined-css/2.0.0/img/principles-stacked.svg"
                                            alt="highlight section demo"></div>
                                    <div class="highlight-text">
                                        <h3>Be concise</h3>
                                        <h4 class="mt-0">Principle 4</h4>
                                        <p>Things are easy to use when they're simple. Ask yourself, "Does this word,
                                            image, or functionality help people do what they need to do?"</p><a
                                            class="btn-primary-outline d-inline-block"
                                            href="https://designsystem.webstandards.ca.gov/principles/">See all the
                                            principles</a>
                                    </div>
                                </section>
                            </div>
                        </article>
                    </cagov-highlight-section>

                </main>
            </div>
        </div>
    </div>